In [1]:
import pandas as pd

In [2]:
jan_df = pd.read_parquet('../data/yellow_tripdata_2022-01.parquet')

In [3]:
jan_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [4]:
# Q1

jan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 357.2+ MB

In [5]:
jan_df['duration'] = jan_df['tpep_dropoff_datetime'] - jan_df['tpep_pickup_datetime']

In [6]:
jan_df['duration'] = jan_df['duration'].apply(lambda x:x.total_seconds() / 60)

In [9]:
# Q2

jan_df['duration'].std()

46.44530513776499

In [10]:
# Q3

((jan_df['duration']>=1) & (jan_df['duration']<=60)).mean()

0.9827547930522406

In [26]:
train_df = jan_df[((jan_df['duration']>=1) & (jan_df['duration']<=60))]

In [14]:
from sklearn.feature_extraction import DictVectorizer

In [27]:
# Q4
categorical = ['PULocationID', 'DOLocationID']

train_df[categorical] = train_df[categorical].astype(str)
X_train = train_df[categorical].to_dict(orient='records')

dv = DictVectorizer()
X_train = dv.fit_transform(X_train)

/tmp/ipykernel_1613/611185406.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[categorical] = train_df[categorical].astype(str)

In [28]:
X_train

<2421440x515 sparse matrix of type '<class 'numpy.float64'>'
	with 4842880 stored elements in Compressed Sparse Row format>

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [30]:
# Q5

y_train = train_df.duration.values

lr = LinearRegression()
lr.fit(X_train, y_train)

y_train_pred = lr.predict(X_train)

rmse = mean_squared_error(y_train, y_train_pred, squared=False)

print(f'Training loss: {rmse}')

Training loss: 6.98619083458946

In [31]:
# Q6

# File read in
feb_df = pd.read_parquet('../data/yellow_tripdata_2022-02.parquet')

# Duration FE
feb_df['duration'] = feb_df['tpep_dropoff_datetime'] - feb_df['tpep_pickup_datetime']
feb_df['duration'] = feb_df['duration'].apply(lambda x:x.total_seconds() / 60)

# Data filter
val_df = feb_df[((feb_df['duration']>=1) & (feb_df['duration']<=60))]

# OneHot
categorical = ['PULocationID', 'DOLocationID']

val_df[categorical] = val_df[categorical].astype(str)
X_val = val_df[categorical].to_dict(orient='records')

X_val = dv.transform(X_val)

/tmp/ipykernel_1613/628543757.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_df[categorical] = val_df[categorical].astype(str)

In [32]:
# Validation score
y_pred = lr.predict(X_val)

y_val = val_df.duration.values
rmse_val = mean_squared_error(y_val, y_pred, squared=False)

print(f'Validation loss: {rmse_val}')

Validation loss: 7.78640785205543